.card-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}

.card{
    width: 30%;
    display: flex;
    border: 1px solid black;
}

.hero-img{
    width: 60%;
    
}

.hero-description{
    width: 30%;
    padding: 10px;
}